$bright-color: #efefef;
$dark-color: #2d2d2d;
$button-bg-color: #393939;
$bg-color: #46965f;

body {
  background-color: $bg-color;
  color: $bright-color;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: $button-bg-color;
  color: $bright-color;
  padding: 20px;
  width: 250px;
  height: auto;
  margin-bottom: 50px;
  border: 0;
  border-radius: 4px;
  font-size: 24px;
  transition: 0.2s;
  opacity: 0.8;
  box-shadow: 3px 3px $dark-color;
}

button:hover {
  opacity: 1;
  color: $bright-color;
}
