@import url('https://fonts.googleapis.com/css2?family=Monoton');

body {
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

*, *:before, *:after {
  box-sizing: border-box;
}
